@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

main {
  position: relative;
  width: 100%;
  min-height: 98vh;
  background-color: white;
}

.container {
  position: relative;
  width: 100%;
  min-height: 74vh;
  display: grid;
}

.paragraph h1 {
  min-width: 23rem;
  font-weight: 700;
  font-size: 3rem;
  color: hsl(300, 43%, 22%);
  margin-bottom: 1rem;
}

.paragraph p {
  min-width: 23rem;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(300, 43%, 22%);
  line-height: 1.3;
  text-align: justify;
}

.rates {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1rem;
  color: hsl(300, 43%, 22%);
  padding-top: 2rem;
}

.rating {
  align-items: center;
  width: 80%;
  min-width: 23rem;
  height: 3rem;
  background-color: hsl(300, 24%, 96%);
  padding: 1.25rem 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.stars {
  display: inline-block;
  width: 10rem;
}

.stars img{
  margin-right: 0.4rem;
}

.rates p {
  display: inline-block;
}

.reviews {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: hsl(300, 43%, 22%);
  width: 23rem;
  height: 14rem;
  border-radius: 0.5rem;
  padding: 2.5rem 2rem;
  color: white;
  display: grid;
  grid-template-columns: 3.75rem 15.25rem;
  grid-template-rows: 1.25rem 3rem 4.75rem;
}

.card img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: inline-block;
  grid-row: span 2;
  grid-column: span 1;
}

.card .name {
  width: 15.25rem;
  height: 1.25rem;
  font-weight: 600;
  font-size: 1.2rem;
  display: inline-block;
  grid-row: span 1;
  grid-column: span 1;
}

.card .badge {
  width: 15.25rem;
  height: 1.25rem;
  font-weight: 400;
  font-size: 1.1rem;
  color: hsl(333, 80%, 67%);
  display: inline-block;
  grid-row: span 1;
  grid-column: span 1;
}

.card .review {
  width: 19rem;
  text-align: justify;
  line-height: 1.2;
  font-weight: 400;
  grid-row: span 1;
  grid-column: span 1;
}

.attribution {
  height: 2vh;
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media (max-width: 768px) {
  /* Styles for small devices */
  main {
    padding: 1rem;
    max-width: 768px;
  }

  .container {
    grid-template-rows: auto auto auto;
    gap: 1rem;
    max-width: 768px;
  }

  .paragraph {
    grid-row: span 1;
    grid-column: span 0;
  }

  .paragraph p, h1{
    margin: 0 auto;
  }

  .rates{
    grid-row: span 1;
    grid-column: span 0;
  }

  .reviews{
    grid-row: span 1;
    grid-column: span 0;
  }

}

@media (min-width: 700px) and (max-width: 1500px), (min-width: 1501px){
  body {
    height: 100vh;
  }
  
  main {
    height: 98vh;
  }
  
  .container {
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    
  }
  
  .paragraph {
    min-width: 500px;
    grid-row: span 1;
    grid-column: span 1;
  }
  
  .paragraph h1, p{
    width: 60%;
  }
  
  .rates {
    grid-row: span 1;
    grid-column: span 1;
  }
  
  .r1 {
    align-self: first baseline;
  }
  
  .r2 {
    align-self: center;
  }
  
  .r3 {
    align-self: last baseline;
  }
  
  .reviews {
    grid-row: span 1;
    grid-column: span 2;
    flex-direction: row;
  }
  
  .cr2 {
    align-self: center;
  }
  
  .cr3 {
    align-self: last baseline;
  }
}

@media (min-width: 700px) and (max-width: 1500px) {
  /* Styles for medium devices */
  main {
    padding: 4vh 4%;
  }
  
  .container {
    height: 90vh;   
  }
}

@media (min-width: 1501px) {  
  main {
    padding: 12vh 12%;
  }
  
  .container {
    height: 74vh;  
  }
}