@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
}

main {
  position: relative;
  width: 82%;
  height: 70vh;
  padding: 14vh 9%;
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.paragraph {
  grid-row: span 1;
  grid-column: span 1;
}

.paragraph h1 {
  width: 400px;
  font-weight: 700;
  font-size: 50px;
  color: hsl(300, 43%, 22%);
  margin-bottom: 15px;
}

.paragraph p {
  width: 400px;
  font-weight: 400;
  font-size: 15px;
  color: hsl(300, 43%, 22%);
  line-height: 1.2;
  text-align: justify;
}

.rates {
  grid-row: span 1;
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 15px;
  color: hsl(300, 43%, 22%);
}

.rating {
  align-items: center;
  width: 450px;
  height: 20px;
  background-color: hsl(300, 24%, 96%);
  padding: 20px 30px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.r1 {
  align-self: first baseline;
}

.r2 {
  align-self: center;
}

.r3 {
  align-self: last baseline;
}

.stars {
  display: inline-block;
  margin-right: 30px;
}

.stars img{
  margin-right: 5px;
}

.rates p {
  display: inline-block;
}

.reviews {
  grid-row: span 1;
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: hsl(300, 43%, 22%);
  width: 340px;
  height: 150px;
  border-radius: 7px;
  padding: 40px 30px;
  color: white;
  display: grid;
  grid-template-columns: 60px 280px;
  grid-template-rows: 20px 50px 100px;
}

.card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  grid-row: span 2;
  grid-column: span 1;
}

.card .name {
  width: 280px;
  height: 20px;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  grid-row: span 1;
  grid-column: span 1;
}

.card .badge {
  width: 280px;
  height: 20px;
  font-weight: 400;
  font-size: 17px;
  color: hsl(333, 80%, 67%);
  display: inline-block;
  grid-row: span 1;
  grid-column: span 1;
}

.card .review {
  width: 340px;
  text-align: justify;
  line-height: 1.2;
  font-weight: 400;
  grid-row: span 1;
  grid-column: span 1;
}

.cr2 {
  align-self: center;
}

.cr3 {
  align-self: last baseline;
}

.attribution {
  height: 2vh;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}